<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo right" id="welcomeBanner">PROJECT 2 LOGO</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#register"><i inputfield='text' class="material-icons left">portrait</i>Create an account</a></li>
        <li><a href="#login" class=" modal-trigger waves-effect waves-light btn">LOGIN</a></li>
                <li><a href="#logoff" class="waves-effect waves-light btn">LOG OFF</a></li>

        <li>
          <div class="center row">
            <div class="col s12">
              <div class="row" id="search">
                <div class="input-field col s6 s12 red-text">
                  <i class="red-text material-icons prefix">search</i>
                  <input type="text" placeholder="search" id="searchInput" class="autocomplete red-text">
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
{{!-- pseudo Nav bar --}}
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active" href="#test1">Top News</a></li>
              <li class="tab col s3"><a href="#test2">Entertainment</a></li>
              <li class="tab col s3"><a href="#test3">Politics</a></li>
              <li class="tab col s3"><a href="#test4">Favorites</a></li>
            </ul>
          </div>
          <div id="test1" class="col s12"></div>
          <div id="test2" class="col s12"></div>
          <div id="test3" class="col s12"></div>
          <div id="test4" class="col s12"></div>
        </div>

<div class="row">
{{#each newsArticles}}
  <div class="col s12 m4">
    <div class="main">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{urlToImage}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{title}}<i
              class="material-icons right">more_vert</i><i class="far fa-heart"></i></span>
          <p><a href="#">Read this article</a></p>
          
        </div>
        {{!-- Here is some more information about this product that is only revealed once clicked on. --}}
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>

 <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          





<!-- MODAL LOGIN STRUCTURE -->
<div id="login" class="modal ">
  <h5 class="modal-close">&#10005;</h5>
  <div class="modal-content center">
    <h4>Login Form</h4>
    <br>

    <form action="#">

      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="userName">
        <label for="name">Username</label>
      </div>
      <br>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="userPass">
        <label for="pass">Password</label>
      </div>
      <br>

      <div class="left" style="margin-left:20px;">
        <form action="#">
          <p>
            <label>
              <input type="checkbox" />
              <span>
                Remember Me
              </span>
            </label>
          </p>
        </form>
      </div>
      <br>
      <input type="submit" value="Login" class="btn btn-large" id="loginButton">
    </form>
  </div>
</div>

<!-- MODAL REGISTER/SIGN UP STRUCTURE -->
<div id="register" class="modal ">
  <h5 class="modal-close">&#10005;</h5>
  <div class="modal-content center">
    <h4>Create Your Account</h4>
    <br>

    <form action="#">

      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="emailRegister">
        <label for="name">E-mail</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="userRegister">
        <label for="name">Username</label>
        <span class="modalText">Maximum length of 20 characters</span>
      </div>
      <br>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="passwordRegister">
        <label for="pass">Password</label>
        <span class="modalText">Password must be between 6-15 characters</span>
      </div>


      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="passVerify">
        <label for="pass">Verify Password</label>
        <span class="modalText">Password must be between 6-15 characters</span>
      </div>
      <br>

      <div class="left" style="margin-left:20px;">
        <form action="#">
          <p>
            <label>
              <input type="checkbox" />
              <span>
                Remember Me
              </span>
            </label>
          </p>
        </form>
      </div>
      <br>
      <input type="submit" value="Register" class="btn btn-large" id="registerButton">
    </form>
  </div>

