<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo right">PROJECT 2 LOGO</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#register"><i inputfield='text' class="material-icons left">portrait</i>Create an account</a></li>
      {{!-- ------------    MODAL TRIGGER --}}
      <li><a href="#login" class="waves-effect waves-light btn">LOGIN</a></li>
    </ul>
  </div>
</nav>

<div class="container">

       <!--TOASTS-->
        <h1>TOASTS</h1>
        <a onclick="Materialize.toast('Post Saved', 4000, 'rounded')" class="btn">Toast!</a>
        <a onclick="Materialize.toast('Post Saved', 4000, 'rounded')" class="btn">Save</a>

        <div class="main">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://materializecss.com/images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>



  <div class="clearfix"></div>

<!-- MODAL LOGIN STRUCTURE -->
<div id="login" class="modal ">
  <h5 class="modal-close">&#10005;</h5>
  <div class="modal-content center">
    <h4>Login Form</h4>
    <br>

    <form action="#">

      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="name">
        <label for="name">Username</label>
      </div>
      <br>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="pass">
        <label for="pass">Password</label>
      </div>
      <br>

     <div class="left" style="margin-left:20px;">
      <form action="#" >
    <p>
      <label>
        <input type="checkbox" />
        <span>
          Remember Me
        </span>
      </label>
    </p>
  </form>
      </div>
      <br>
      <input type="submit" value="Login" class="btn btn-large">
    </form>
  </div>
</div>

<!-- MODAL REGISTER/SIGN UP STRUCTURE -->
<div id="register" class="modal ">
  <h5 class="modal-close">&#10005;</h5>
  <div class="modal-content center">
    <h4>Create Your Account</h4>
    <br>

    <form action="#">

      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="name">
        <label for="name">Username</label>
      </div>
      <br>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="pass">
        <label for="pass">Password</label>
      </div>
      <br>

     <div class="left" style="margin-left:20px;">
      <form action="#" >
    <p>
      <label>
        <input type="checkbox" />
        <span>
          Remember Me
        </span>
      </label>
    </p>
  </form>
      </div>
      <br>
      <input type="submit" value="Login" class="btn btn-large">
    </form>
  </div>
</div>


 <div class="row">
       <div class="col s4"><div class="card-panel grey">4</div></div>
       <div class="col s4"><div class="card-panel grey">4</div></div>
       <div class="col s4"><div class="card-panel grey">4</div></div>
     </div>



{{!-- The code below was preloaded  --}}

{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}
        <h1>HELPERS</h1>

        <!-- ALIGNMENT -->
        <div>
          <h5 class="left-align">This aligns to the left</h5>
        </div>
        <div>
          <h5 class="right-align">This aligns to the right</h5>
        </div>
        <div>
          <h5 class="center-align">This aligns to the center</h5>
        </div>

        <!-- QUICK FLOATS -->
        <div class="left">Left Float</div>
        <div class="right">Right Float</div>

        <!-- CLEAR -->
        <div class="clearfix"></div>

  
{{!-- MATERILIZE CARDS/ NEWS BLOCKS ADDED --}}
 <h1>GRID SYSTEM</h1>
     <!-- GRID SYSTEM -->
     <div class="row">
       <div class="col s1"><div class="card-panel grey">1</div></div>
       <div class="col s1"><div class="card-panel grey">2</div></div>
       <div class="col s1"><div class="card-panel grey">3</div></div>
       <div class="col s1"><div class="card-panel grey">4</div></div>
       <div class="col s1"><div class="card-panel grey">5</div></div>
       <div class="col s1"><div class="card-panel grey">6</div></div>
       <div class="col s1"><div class="card-panel grey">7</div></div>
       <div class="col s1"><div class="card-panel grey">8</div></div>
       <div class="col s1"><div class="card-panel grey">9</div></div>
       <div class="col s1"><div class="card-panel grey">10</div></div>
       <div class="col s1"><div class="card-panel grey">11</div></div>
       <div class="col s1"><div class="card-panel grey">12</div></div>
     </div>

     <div class="row">
       <div class="col s8"><div class="card-panel grey">8</div></div>
       <div class="col s4"><div class="card-panel grey">4</div></div>
     </div>

     <div class="row">
       <div class="col s4"><div class="card-panel grey">4</div></div>
       <div class="col s4"><div class="card-panel grey">4</div></div>
       <div class="col s4"><div class="card-panel grey">4</div></div>
     </div>

      <!-- OFFSETTING -->
      <div class="row">
        <div class="col s12"><div class="card-panel grey">This div is 12 cols</div></div>
        <div class="col s6 offset-s6"><div class="card-panel grey">This div is 6 cols offset by 6</div></div>
      </div>

      <!-- PUSH AND PULL -->
      <div class="row">
        <div class="col s7 push-s5"><div class="card-panel grey">This div is 7 cols widw</div></div>
        <div class="col s5 pull-s7"><div class="card-panel grey">This div is 5 cols widw</div></div>
      </div>

      </div><!-- ./container -->



      <div style="height:500px"></div>
    


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>