body{
  background: lightgrey;
}

.modal{
 max-height:100%;
 overflow:hidden;
}

input[type="submit"]{
  width: 100%;
  margin-top: 50px;
}
.modal-close{
  position: absolute;
  top:10px;
  right:10px;
  padding:0;
  margin:0;
}

.main{
  margin: 30px;
  width: 350px;
}
